<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/navigation %>
		<div class="container-fluid">
			<ul class="list-unstyled">
				<% collection.forEach(function(pokemon) { %>
					<li>
						<section class="card">
							<% include card %>
						</section>
					</li>
				<% }) %>
			</ul>
		</div>
	</body>
</html>