<!doctype html>
<html lang="en">
	{{> head }}
	<body>
		{{> navigation }}
		<div class="container-fluid">
			<h1>Index {{ meta.path }}</h1>
			{{#list entity }}
				<h5>#{{ dexNumber}} - {{ name }}</h5>
				<span>{{ description }}</span>
			{{/list}}
		</div>
	</body>
</html>