<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/navigation %>
		<div class="container-fluid">
			<h1>Index <%= meta.path %></h1>
			<% include card %>
		</div>
	</body>
</html>