<!doctype html>
<html lang="en">
	{{> head }}
	<body>
		{{> navigation }}
		<div class="container-fluid">
			<h1>Index {{ meta.path }}</h1>
			<h5>#{{ entity.dexNumber }} - {{ entity.name }}</h5>
			<span>{{ entity.description }}</span>
		</div>
	</body>
</html>