<footer>
  <div class="row">
    <div class="col-sm-8">
      <span class="pokemon-copyright">
        Pok&eacute;mon, Pok&eacute;mon character names and related copyrights, trademarks and service marks are the property of Nintendo
      </span>
      <span class="masterdex-copyright">
        Masterdex &copy; 2013, 2014 Codeweaver Solutions
      </span>
      <span>
        Codeweaver Solutions claims no relation, endorsement or affiliation with Nintendo, Creatures Inc., or GAME FREAK Inc
      </span>
    </div>
    <div class="container col-sm-4">
      <span class="love"><i class="fa fa-code"></i> w/ <i class="fa fa-heart"></i> on <i class="fa fa-github"></i></span>
    </div>
  </div>
</footer>