<div class="content-home">
  <div class="jumbotron">
    <div class="container">
      <!-- <image class="mascot" src="/img/braixen.png" alt="Braixen"></image> -->
      <div>
        <h1>Masterdex</h1>
        <p>The world's latest and greatest Pok&eacute;dex and Itemdex</p>
      </div>
    </div>
  </div>
  <div class="row center-block callout-block">
    <div class="container">
      <div class="col-sm-4 justify callout">
        <img class="callout-image" src="/img/pokeball-outline.svg" alt="">
        <p>Search for Pok&eacute;mon and become the ultimate trainer</p>
      </div>
      <div class="col-sm-4 justify callout">
        <img src="/img/awakening.svg" alt="" class="callout-image">
        <p>Find the right item for any situation</p>
      </div>
      <div class="col-sm-4 justify callout">
        <img src="" alt="" class="callout-image">
        <p>Integrate our site with yours through our robust API</p>
      </div>
    </div>
  </div>
</div>