<div class="content-home">
  <div id="host" class="container">
    <div class="braixen pull-right hidden-xs"></div>
    <div class="row">
      <h1 class="masthead col-sm-8 col-sm-offset-1 col-xs-12">Masterdex</h1>
    </div>
    <div class="row">
      <p class="lead col-sm-8 col-sm-offset-1 col-xs-12">The world's latest and greatest Pok&eacute;dex, with full listings of Pok&eacute;mon, items, movesets and more</p>
    </div>
    <div class="row">
      <a href="/pokemon" class="btn btn-lg btn-outline-inverse col-xs-12 col-sm-5 col-sm-offset-1">Search for Pok&eacute;mon</a>
      <a href="/item" class="btn btn-lg btn-outline-inverse col-xs-12 col-sm-5">Search for Items</a>
    </div>
  </div>
</div>