/*
 * Basic colours
 */
$baseRed: 		#CF1323;
$baseBlue: 		#1E719C;
$dullBlue: 		#055882;
$brightRed: 	#9F1D28;
$yellow: 		#D7D229;
$lightGrey: 	#e8e8e8;

/*
 * Types
 */
$typeNormal: 	#99A470;
$typeFighting: 	#BE0D11;
$typeFlying: 	#9C83B6;
$typePoison: 	#9D2487;
$typeGround: 	#DABC5E;
$typeRock: 		#AF9E33;
$typeBug: 		#94B732;
$typeGhost: 	#6C4886;
$typeSteel: 	#B2B0C4;
$typeFire: 		#F26F0B;
$typeWater: 	#657EB6;
$typeGrass: 	#48C252;
$typeLightning: #F6D221;
$typePsychic: 	#F42B76;
$typeIce: 		#80D6CE;
$typeDragon: 	#614793;
$typeDark: 		#66503F;
$typeFairy: 	#F5889C;