$red: #CF1423;

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  box-shadow: $top $left $blur $color #{$inset};
}

*:not(.fa) {
  font-family: 'Roboto', sans-serif !important;
}

html,
body {
  min-width: 515px;
  height: 100%;
}

body {
  padding-top: 50px;
}

main {
  &.home,
  &.home ~ footer {
    color: #fff;
    background-color: $red;
  }
}

footer {
  height: 80px;
  margin-top: -80px;
  padding: 10px;

  span {
    display: block;
    font-size: .8em;

    &.love {
      font-size: 3em;
      padding-right: 20px;
    }
  }
}


.braixen {
  background-image: url('/img/braixen.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 600px;
  position: absolute;
  top: 0;
  right: -130px;
}

.btn-outline-inverse,
.btn-outline-inverse:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;

  &:hover {
    color: $red;
    background-color: #fff;
  }
}

.header {
  position: relative;
  color: #fff;
  background-color: $red;
  padding: 30px 15px 40px;
  overflow: hidden;

  .braixen {
    margin-top: -160px;
  }
}

.navbar-masterdex {
  color: #fff;
  height: 50px;
  background-color: $red;
  border-color: #B3121F;
  @include box-shadow(0, 1px, 0, solid, rgba(255, 255, 255, .1));

  a {
    color: #fff;

    &:hover {
      color: $red;
    }
  }

  .navbar-toggle {
    padding: 6px 10px;
  }

  .navbar-brand {
    padding: 0px;
  }

  .pokeball-header {
    width: 100px;
    height: 75px;
    margin-top: -25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/pokeball.svg');
  }

  .navbar-collapse.in,
  .navbar-collapse.collapsing {
    background: #fff;

    a {
      color: $red;
    }
  }
}

.content {
  overflow: hidden;
  min-height: 100%;
  padding-bottom: 80px;
}

.content-home {
  position: relative;
  margin-left: 10px;

  h1, p {
    z-index: 1;
  }

  .braixen {
    z-index: 0;
  }

  #host {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .masthead {
    font-size: 100px;
  }

  .lead {
    font-size: 30px;
    margin-right: 25%;
  }

  .btn-outline-inverse {
    width: auto;
    margin: 20px 5px 20px 0px;
    padding: 18px 24px;
    font-size: 21px;
  }
}