$red: #CF1423;

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  box-shadow: $top $left $blur $color #{$inset};
}

* {
  box-sizing: border-box;

  &:not(.fa) {
    font-family: 'Roboto', sans-serif !important;
  }
}

body {
  background-color: #e8e8e8;
}

footer {

  .love {
    font-size: 2em;
  }
}

.btn-outline-inverse,
.btn-outline-inverse:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;

  &:hover {
    color: $red;
    background-color: #fff;
  }
}

.justify {
  text-align: center;
}

.card {
  border-radius: 2px;
  background: #fff;
  margin: 4px;
}

.navbar-masterdex {
  color: #fff;
  height: 50px;
  background-color: $red;
  border-color: #B3121F;
  @include box-shadow(0, 1px, 0, solid, rgba(255, 255, 255, .1));

  a {
    color: #fff;

    &:hover {
      color: $red;
    }
  }

  .navbar-toggle {
    padding: 6px 10px;
  }

  .navbar-brand {
    padding: 0px;
  }

  .pokeball-header {
    width: 100px;
    height: 75px;
    margin-top: -25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/pokeball.svg');
  }

  .navbar-collapse.in,
  .navbar-collapse.collapsing {
    background: #fff;

    a {
      color: $red;
    }
  }
}

.content-home {
  .jumbotron {
    background-color: $red;
    color: white;
    max-height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
  }

  .btn-outline-inverse {
    width: 350px;
    margin: 20px 5px 20px 0px;
    padding: 18px 24px;
    font-size: 21px;
  }

  .callout-image {
    max-width: 50%;
    min-height: 125px;
  }

  .callout-block {
    background-color: #fff;
  }

  .callout {
    border-color: $red;
    border-left-width: 1px;
    border-left-style: solid;
    margin: 8px 0px;

    &:first-of-type {
      border-left-width: 0px;
    }
  }
}